.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
  }
  
  .about img {
    width: 100%;
    grid-column: 1/5;
    border-radius: 0px 70px 0px 70px;
    padding: 1rem;
  }
  
  .about-info {
    grid-column: 5/10;
    padding: 3em;
  }
  
  .about-info h2 {
    font-size: 2em;
    color: #191c32;
  }
  
  .divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
  }
  
  .about p {
    margin-bottom: 1em;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column;
    }
   
}

  